@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap");
:root {
  --primary-color: rgb(143, 6, 185);
  --primary-hover-color: rgb(176, 34, 219);
  /* --nav-active-color: rgb(241, 93, 255); */
  --primary-bg-color: #f3f5fa;
  --text-color: #444444;
  /* --overlay: rgba(119, 6, 153, 0.15); */
  --overlay: rgba(0, 0, 0, 0.15);
  --main-font-family: "Poppins", sans-serif;
  --headings-font-family: "Halant", serif;
  --hero-section-height: 100vh;
  --content-width: inherit !important;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--main-font-family) !important;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

ul li::marker {
  color: var(--primary-color);
  content: "->   ";
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-hover-color);
  text-decoration: none;
}

.content-container {
  position: relative;
  width: var(--content-width);
  padding-left: 80px;
}

@media (max-width: 992px) {
  .content-container {
    padding-left: 0px;
  }
}

/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999999999;
  overflow: hidden;
  background: #fff;
}

#preloader svg {
  width: 280px !important;
}

#preloader svg path {
  fill: var(--primary-color);
}

.svg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#c {
  -webkit-transform: translate(37%, 0);
          transform: translate(37%, 0);
  -webkit-animation: animation-c 4s ease-out 0s infinite;
          animation: animation-c 4s ease-out 0s infinite;
}

#r-a-f {
  opacity: 0;
  -webkit-transform: translate(30%, 0);
          transform: translate(30%, 0);
  -webkit-animation: animation-raf 4s ease-out 0s infinite;
          animation: animation-raf 4s ease-out 0s infinite;
}

#t {
  opacity: 0;
  -webkit-animation: animation-t 4s ease-out 0s infinite;
          animation: animation-t 4s ease-out 0s infinite;
}

#s-o-l {
  opacity: 0;
  -webkit-transform: translate(-30%, 0);
          transform: translate(-30%, 0);
  -webkit-animation: animation-sol 4s ease-out 0s infinite;
          animation: animation-sol 4s ease-out 0s infinite;
}

#s {
  -webkit-transform: translate(-37%, 0);
          transform: translate(-37%, 0);
  -webkit-animation: animation-s 4s ease-out 0s infinite;
          animation: animation-s 4s ease-out 0s infinite;
}

@-webkit-keyframes animation-c {
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    -webkit-transform: translate(37%, 0);
            transform: translate(37%, 0);
  }
  100% {
    -webkit-transform: translate(37%, 0);
            transform: translate(37%, 0);
  }
}

@keyframes animation-c {
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    -webkit-transform: translate(37%, 0);
            transform: translate(37%, 0);
  }
  100% {
    -webkit-transform: translate(37%, 0);
            transform: translate(37%, 0);
  }
}

@-webkit-keyframes animation-raf {
  12% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  58% {
    opacity: 0;
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
  }
}

@keyframes animation-raf {
  12% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  58% {
    opacity: 0;
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
  }
}

@-webkit-keyframes animation-t {
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation-t {
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animation-sol {
  12% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  58% {
    opacity: 0;
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
}

@keyframes animation-sol {
  12% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  58% {
    opacity: 0;
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
}

@-webkit-keyframes animation-s {
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    -webkit-transform: translate(-37%, 0);
            transform: translate(-37%, 0);
  }
  100% {
    -webkit-transform: translate(-37%, 0);
            transform: translate(-37%, 0);
  }
}

@keyframes animation-s {
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    -webkit-transform: translate(-37%, 0);
            transform: translate(-37%, 0);
  }
  100% {
    -webkit-transform: translate(-37%, 0);
            transform: translate(-37%, 0);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--primary-hover-color);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Logo Header
--------------------------------------------------------------*/
#logo-header {
  height: 60px;
  width: 100%;
  z-index: 10;
  position: fixed;
  background-color: transparent;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#logo-header .logo h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#logo-header .logo svg {
  height: 2rem;
}

#logo-header .logo svg path {
  fill: var(--primary-color);
}

#logo-header .logo h3 a,
#logo-header .logo h3 a:hover {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--primary-color);
  margin: 0 1.5rem;
}

@media (max-width: 992px) {
  #logo-header .logo h3 {
    font-size: 1.6rem;
  }
  #logo-header .logo svg {
    height: 1.6rem;
  }
}

@media (max-width: 768px) {
  #logo-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--primary-bg-color);
  }
  #logo-header .logo h3 {
    font-size: 1.4rem;
  }
  #logo-header .logo svg {
    height: 1.4rem;
  }
}

#logo-header.header-scrolled {
  background-color: var(--primary-color) !important;
}

#logo-header.header-scrolled *,
.header-sticky-top * {
  color: white !important;
  fill: white !important;
}

#logo-header.header-scrolled h3 {
  font-weight: 400;
}

.header-sticky-top {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  background-color: var(--primary-color) !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  z-index: 9997;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    left: -300px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 1rem 0.8rem;
  display: block;
  border-radius: 50px;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  margin: auto 0px !important;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.nav-menu a,
.nav-menu a:focus {
  height: 46px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-color);
  background: #f2f3f5;
  padding: 10px 18px;
  font-size: 15px;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .nav-menu a,
  .nav-menu a:focus {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 35%;
  }
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: var(--text-color);
}

@media (min-width: 992px) {
  .nav-menu a,
  .nav-menu a:focus {
    width: 46px;
  }
  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: #fff;
  background-color: var(--primary-color);
}

.nav-menu li:hover > a {
  background-color: var(--primary-hover-color);
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 8px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  padding: 8px;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
  width: 100%;
  height: var(--hero-section-height);
  background-color: white;
  overflow: hidden;
  padding: 0;
  position: relative;
}

#hero .carousel-item {
  width: 100%;
  height: var(--hero-section-height);
}

#hero .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  width: 80%;
  height: inherit;
  margin: auto;
}

#hero h2 {
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-size: 2.7rem;
  font-family: var(--headings-font-family);
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 100%;
}

#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin-bottom: 5rem;
  color: var(--text-color);
}

#hero .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#hero .carousel-inner .carousel-item {
  opacity: 0;
}

#hero .carousel-inner .active {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#hero .carousel-indicators {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  margin: 0 !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 2rem !important;
  left: auto !important;
  z-index: 4;
  margin-left: 0;
}

#hero .carousel-indicators li {
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 4px !important;
  border-width: 2px;
  cursor: pointer;
  opacity: 1;
  background-color: var(--primary-bg-color);
}

#hero .carousel-indicators .active {
  background-color: var(--primary-hover-color);
}

#hero .btn-read-more {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 1;
  color: var(--primary-color);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid var(--primary-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#hero .btn-read-more:hover {
  background: var(--primary-color);
  color: #fff;
}

.carousel-left {
  z-index: 3;
  width: 42%;
}

.carousel-right {
  position: relative;
  width: 58%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-right::before {
  content: " ";
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--overlay);
  z-index: 2 !important;
}

.carousel-right img {
  height: 100vh !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  #hero h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  :root {
    --overlay: rgba(0, 0, 0, 0.4);
  }
  #hero h2 {
    color: white;
    margin-bottom: 2rem;
  }
  #hero p {
    line-height: 1.7rem;
    color: white;
    margin-bottom: 6rem;
  }
  #hero .carousel-content {
    margin-bottom: 2rem;
    text-align: center;
  }
  #hero .btn-read-more {
    color: white;
    border: 2px solid white;
    letter-spacing: 0.5px;
  }
  #hero .btn-read-more:hover {
    background: white;
    color: var(--primary-color);
  }
  .carousel-left {
    width: 100%;
  }
  .carousel-right {
    position: absolute;
    width: 100%;
  }
  #hero .carousel-indicators {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    bottom: 2rem !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0px !important;
    padding: 0 !important;
  }
}

@media (max-width: 575px) {
  #hero h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 400px) {
  #hero h2 {
    font-size: 2rem;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: var(--primary-bg-color);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--primary-color);
  font-family: var(--headings-font-family);
  letter-spacing: 0.2px;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 3px;
  background: var(--primary-color);
  bottom: 1px;
  left: calc(50% - 50px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .box-card {
  display: block !important;
  -webkit-box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  background: #fff;
  position: relative;
}

.services .box-card .icon {
  margin-bottom: 10px;
}

.services .box-card .icon i {
  color: var(--primary-color);
}

.services .box-card h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-family: var(--headings-font-family);
  letter-spacing: 0.2px;
  line-height: 105%;
}

.services .box-card h4 {
  color: var(--primary-color);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.services .box-card p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 3rem;
  color: var(--text-color);
}

.services .box-card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.services .box-card:hover h4 {
  color: white;
}

.services .box-card:hover .icon i {
  color: white;
}

.services .box-card:hover p {
  color: white;
}

.services .box-card:hover a {
  color: var(--primary-color) !important;
  background-color: white !important;
}

.services .box-card::before {
  content: "";
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.services .box-card:hover::before {
  background: var(--primary-color);
  top: 0;
}

.services a {
  padding: 0.4rem 1rem;
  background-color: var(--primary-color) !important;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 7px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid white;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

/*--------------------------------------------------------------
# Products
--------------------------------------------------------------*/
.products .box-card {
  padding: 1.5rem;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  background: var(--primary-bg-color);
  overflow: hidden;
  height: inherit;
  position: relative;
}

.products .box-card .icon i {
  color: var(--primary-color);
  font-size: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products .box-card h4 {
  font-weight: 600;
  font-size: 1.3rem;
  font-family: var(--headings-font-family);
  letter-spacing: 0.2px;
  line-height: 105%;
}

.products .box-card h4 {
  color: var(--primary-color);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.products .box-card p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 3rem !important;
  /* text-align: justify; */
  color: var(--text-color);
  position: relative;
}

.products .product-cards > div {
  height: inherit;
}

.products .section-header {
  margin-bottom: 0.6rem;
  position: relative;
}

.products .product-cards a {
  padding: 0.4rem 1rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.8rem;
  border-radius: 7px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}

.products .product-cards a:hover {
  background-color: var(--primary-hover-color);
}

.products .img-container img {
  height: 400px !important;
}

@media (max-width: 575px) {
  .products .img-container {
    width: 100% !important;
    height: 260px !important;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
#about .content {
  font-size: 1rem;
}

#about .content a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.5rem 1.2rem;
  letter-spacing: 0.5px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 3px;
  margin-top: 1.5rem;
  margin-left: auto;
}

#about .content a:hover {
  background-color: var(--primary-hover-color);
}

#about .content > *:first-child {
  height: inherit;
}

#about .content > *:last-child > div,
.about-image-design {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--primary-color) !important;
  margin: 1rem 1rem 0.5rem 1rem !important;
}

.about-image-design {
  width: 45%;
}

#about .content > *:last-child > div img,
.about-image-design img {
  -webkit-transform: translate(-1rem, -1rem);
          transform: translate(-1rem, -1rem);
}

@media (max-width: 991px) {
  #about .content > *:last-child > div,
  .about-image-design {
    margin: 1rem auto 1rem auto !important;
  }
  .about-image-design {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #about .content > *:last-child > div,
  .about-image-design {
    margin: 1rem 0rem 1rem 1rem !important;
  }
}

@media (max-width: 380px) {
  #about .content > *:last-child > div,
  .about-image-design {
    margin: 0.7rem 0rem 0.7rem 0.7rem !important;
  }
  #about .content > *:last-child > div img,
  .about-image-design img {
    -webkit-transform: translate(-0.7rem, -0.7rem);
            transform: translate(-0.7rem, -0.7rem);
  }
}

/*--------------------------------------------------------------
# partners
--------------------------------------------------------------*/
.partners .partner-item {
  text-align: center;
}

.partners .partner-item .partner-img {
  width: 250px;
  margin: 0 auto;
}

.partners .partner-item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.3rem 0rem;
  color: var(--text-color);
}

.partners .partner-item p {
  margin: 0 auto 15px auto;
  line-height: 1.7rem;
}

.partners .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.partners .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--primary-color);
}

.partners .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

@media (min-width: 992px) {
  .partners .partner-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: var(--primary-color);
  padding: 0 0 30px 0;
  color: white;
  font-size: 14px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 21px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#footer .footer-top .footer-contact h3 span {
  color: var(--primary-color);
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 5%;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  color: white;
  padding: 0.2rem 0.5rem;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  background-color: var(--primary-hover-color);
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--primary-color);
  color: #fff !important;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-links a:hover {
  background: #fff;
  text-decoration: none;
}

.social-links a:hover i {
  color: var(--primary-color);
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer h6 {
  letter-spacing: 0.8px;
  font-weight: 500;
}

@media (max-width: 768px) {
  #footer .copyright {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team-section article img {
  width: 80%;
}

@media (max-width: 991px) {
  .team-section article img {
    margin: auto;
  }
}

.team-section .info-box {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.team-section .name {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
}

.team-section .name span {
  font-weight: 800;
}

.team-section .designation {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  margin-bottom: 1.5rem;
}

/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/
.contact .box-card {
  padding: 50px 30px;
  background: var(--primary-bg-color);
  color: #444444;
  text-align: center;
}

.contact .box-card .icon {
  margin-bottom: 10px;
}

.contact .box-card .icon i {
  color: var(--primary-color);
  font-size: 36px;
  padding: 8px;
}

.contact .box-card h3 {
  font-size: 1.2rem;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .box-card a {
  color: #5f5f5f;
}

.contact .box-card p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.map h3 {
  font-weight: 600;
  padding: 0.5rem 0;
}

/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/
.mission-vision-cards > div {
  background-color: var(--primary-color);
  border: 2px solid white;
  padding: 2rem;
  color: white;
}

@media (min-width: 992px) {
  .mission-vision-cards > div:first-child {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
  }
  .mission-vision-cards > div:last-child {
    -webkit-transform: translateX(-1.5rem);
            transform: translateX(-1.5rem);
  }
}

.mission-vision-cards > div p {
  font-size: 0.9rem;
}

.mission-vision-cards .section-title {
  text-align: start;
  padding-bottom: 30px;
}

.mission-vision-cards .section-title h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  padding-bottom: 15px;
  color: white;
}

.mission-vision-cards .section-title h2::before {
  background: white;
  left: 0;
}

#core-values .box-card {
  display: block !important;
  -webkit-box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  background: #fff;
  position: relative;
}

#core-values .box-card .icon svg {
  height: 36px !important;
  width: auto;
}

#core-values .box-card .icon svg path {
  fill: var(--primary-color);
}

#core-values .box-card h2 {
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 1.2rem;
}

#core-values .box-card h2 {
  color: var(--primary-color);
}

#core-values .box-card p {
  line-height: 24px;
  font-size: 14px;
  color: var(--text-color);
  text-align: left;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
.page {
  padding: 40px 0 !important;
}

.page h4 {
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.page-header {
  height: 400px;
  color: white;
}

.page-header::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.page-header > div {
  padding-bottom: 1rem;
}

.page-header p span {
  font-weight: 600;
}

.page-header p {
  position: relative;
  z-index: 2;
  font-size: 5.5rem;
  font-family: var(--headings-font-family);
}

@media (max-width: 767px) {
  .page-header p {
    font-size: 4rem;
  }
}

@media (max-width: 575px) {
  .page-header p {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .page-header p {
    font-size: 2.5rem;
  }
}

.page-header img {
  width: 100% !important;
}

@media (max-width: 600px) {
  .page-header img {
    height: 100% !important;
    width: auto !important;
  }
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
form {
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
          box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}

form .form-group {
  margin-bottom: 20px;
}

form input,
form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
}

form input:focus,
form textarea:focus,
form select:focus {
  border-color: var(--primary-color) !important;
  outline: none !important;
  -webkit-box-shadow: 0 0 10px var(--primary-color) !important;
          box-shadow: 0 0 10px var(--primary-color) !important;
}

form input {
  padding: 10px 15px;
}

form textarea {
  padding: 12px 15px;
}

form button[type="submit"] {
  background: var(--primary-color);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}

form button[type="submit"]:hover {
  background: var(--primary-hover-color);
  color: white;
}

#jobApplyBtn {
  background: var(--primary-color);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}

#jobApplyBtn:hover {
  background: var(--primary-hover-color);
}
/*# sourceMappingURL=style.css.map */